/*
 Theme Name:   Twenty Nineteen Child
 Theme URI:    http://example.com/twenty-nineteen-child/
 Description:  Twenty Nineteen Child Theme
 Author:       Pascal Dubois
 Author URI:   http://example.com
 Template:     twentynineteen
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twentynineteenchild
*/

body{
    font-family: 'Odibee Sans', cursive;
}
.entry .entry-title:before{
    display:none;
}

.stripe{
    background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
);
}

.stripe2{
    background: repeating-linear-gradient(
        45deg,
        red,
        hotpink 10px,
        purple 10px,
        blue 20px
);
}
.invisible{
    display: none;
}